<ng-container *ngIf="!isFullscreen">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">घर</a></li>
    <li class="breadcrumb-item active">{{ pageTitle }}</li>
  </ol>
</nav>
</ng-container>

<div class="card main-card mb-3" *ngIf="navOptions.length != 0">
  <div class="card-body">
      <ng-container *ngFor="let option of navOptions">
        <button *ngIf = "option.id != tableOptionId" class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="goToModifiedOptionTable(option.id)">{{option.nepali_name}}</button>
        <button *ngIf = "option.id == tableOptionId" class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm btn-primary" (click)="goToModifiedOptionTable(option.id)">{{option.nepali_name}}</button>
      </ng-container>
  </div>
</div>

<div class="card main-card mb-3">
  <div class="card-header card-title">
    <h2>{{ pageTitle }}</h2>
    <div class="btn-actions-pane-right text-capitalize">
      <ng-container *ngIf="isFullscreen; else ElseBlock">
        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm {{ btnClass }}" (click)="closeFullscreen()" >[x]</button>
      </ng-container>
      <ng-template #ElseBlock>
        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm {{ btnClass }}" (click)="openFullscreen()">[ ]</button>
      </ng-template>

      <ng-container *ngIf="navOptions.length == 0">
        <ng-container  *ngFor="let table of modifiedTables">
          <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="goToModifiedTable(table.id)">{{table.nepali_name}}</button>
        </ng-container>
      </ng-container>
<!--      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="exportTabulatorTable()">Export Data</button>-->
      <div class="d-inline-block pull-right" ngbDropdown>
        <button class="btn btn-info btn-icon" ngbDropdownToggle>
          <span class="pr-2 opacity-7">
            <fa name="cog"></fa>
          </span>
        </button>
        <div ngbDropdownMenu>
          <div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToCharts()">
                  <i class="nav-link-icon lnr-chart-bars"></i>
                  <span> Show graphs </span>
                </a>
              </li>
              <ng-container *ngIf="is_logged == true">
                <li class="nav-item" >
                  <a class="nav-link" (click)="goToDataEntry(tableOptionId)">
                    <i class="nav-link-icon lnr-pencil"></i>
                    <span>Data Entry</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="activateDelete()">
                    <i class="nav-link-icon lnr-pencil"></i>
                    <span *ngIf="activated; else NoActivatedBlock;">Deactivate Delete</span>
                    <ng-template #NoActivatedBlock>
                      <span>Activate Delete</span>
                    </ng-template>
                  </a>
                </li>
              </ng-container>
              
              <li class="nav-item">
                <a class="nav-link" (click)="exportTabulatorTable()">
                  <i class="nav-link-icon lnr-drop"></i>
                  <span>Export Data</span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" (click)="redrawTable()">
                  <i class="nav-link-icon lnr-drop"></i>
                  <span>Redraw Table</span>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card-body">
    <div style="margin-top: 20px;">
      <div class="mb-12 card">
        <div class="no-gutters row">
          <div class="col-md-12 col-sm-12" *ngIf="collections.length > 0">
 

            <div *ngFor="let collection of collections">
              <a (click)="addFilterToTabulator(collection.nepali_name); activeFilter=true; collect_title=collection.nepali_name; collect_icon_path=collection.icon_path;">
                <div class="font-icon-wrapper font-icon-lg">
                  <img src="{{collection.icon_path}}" alt="" width="40">
                  <!-- <p>{{collection.nepali_name}}</p> -->
                </div>
              </a>
            </div>
            <a (click)="resetFilter(); activeFilter=false;">
            <div class="font-icon-wrapper font-icon-lg"> <img src="{{icon}}" width="40"></div></a>


          </div>
          <div class="card mb-12" *ngIf="activeFilter">
            <div class="no-gutters row">


              <div class="col-md-12 col-lg-12">
                <ul class="list-group list-group-flush">
                  <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                      <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left">
                            <div class="widget-heading"><h2>{{ collect_title }}</h2></div>
                            <!-- <div class="widget-subheading">Last year expenses</div> -->
                          </div>
                          <div class="widget-content-right">
                            <img src="{{collect_icon_path}}" width="100">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <!-- <div *ngIf="loading; then Loading; else Loaded">this is ignored</div>
            <ng-template #Loaded> -->
                <div id="my-tabular-table"></div>
            <!-- </ng-template>
            <ng-template #Loading>
              <h5>Loading</h5>
            </ng-template> -->
          </div>  
          
          


        </div>
      </div>
    </div>
  </div>
</div>
