<div class="card main-card mb-3" #fs>
  <div class="card-header card-title" >
    <h2>{{ pageTitle }}</h2>
    <div class="btn-actions-pane-right text-capitalize">
    <div class="d-inline-block">
      <p>{{buttonText}}</p>
    </div>  
<!--      <a class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" href="{{ adminUrl }}/admin/portal_form/table_group/{{id}}/change/" target="_blank">Design Tables</a>-->
        <ng-container *ngIf="isFullscreen; else ElseBlock">
          <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm {{ btnClass }}" (click)="closeFullscreen()" >[x]</button>
        </ng-container>
        <ng-template #ElseBlock>
          <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm {{ btnClass }}" (click)="openFullscreen()">[ ]</button>
        </ng-template>
          
<!--      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="saveTableConfiguration()" >Save Table Configuration</button>-->
<!--      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToCharts()" >Show graphs</button>-->
<!--      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToPreview()" >Preview</button>-->

      <div class="d-inline-block pull-right" ngbDropdown>
        <button class="btn btn-info btn-icon" ngbDropdownToggle>
          <span class="pr-2 opacity-7">
            <fa name="cog"></fa>
          </span>
        </button>
        <div ngbDropdownMenu>
          <div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a *ngIf="modifiedTableId; else ElseBlockNone" class="nav-link" href="{{ adminUrl }}/admin/portal_form/tablemodified/{{modifiedTableId}}/change/" target="_blank">
                  <i class="nav-link-icon lnr-pencil"></i>
                  <span>Design Tables</span>
                </a>
                <ng-template #ElseBlockNone>
                  <a  class="nav-link" href="{{ adminUrl }}/admin/portal_form/table_group/{{id}}/change/" target="_blank">
                    <i class="nav-link-icon lnr-pencil"></i>
                    <span>Design Tables</span>
                  </a>
                </ng-template>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="onSaveButtonClicked()">
                  <i class="nav-link-icon lnr-store"></i>
                  <span> {{ buttonText }} </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="saveTableConfiguration()">
                  <i class="nav-link-icon lnr-file-add"></i>
                  <span> Save Table Configuration </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToCharts()">
                  <i class="nav-link-icon lnr-chart-bars"></i>
                  <span> Show graphs </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToPreview(tableOptionId)">
                  <i class="nav-link-icon lnr-eye"></i>
                  <span> Preview </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{apiUrl}}/portal/parserApi?custom=1&requesttype=1&id={{id}}"  target="_blank">
                  <i class="nav-link-icon lnr-pencil"></i>
                  <span>Refresh Design</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div>
      <div class="mb-3 card">
        <div class="no-gutters row">
          <div class="col-sm-12 col-md-12">
            <ag-grid-angular
              #agGrid
              id="{{ gridId }}"
              style="width: auto; height: 600px; "
              class="ag-theme-alpine"
              [rowData]="rowData"
              [autoGroupColumnDef]="autoGroupColumnDef"
              [columnDefs]="colData"
              [defaultColDef]="defaultColDef"
              [animateRows]="true"
              [sideBar]="sideBar"
              [statusBar]="statusBar"
              [enableRangeSelection]="true"
              (cellClicked)="onCellClicked($event)"
              (rowEditingStopped)="onRowEditingStopped($event, true)"
              (gridReady)="onGridReady($event)"
              (columnResized)="onColumnResized($event)"
              [enterMovesDown]="true"
              [enterMovesDownAfterEdit]="true"
              [editType]="editType"
              [enableCharts]="true"
              [rowClassRules]="rowClassRules"
              [rowDragManaged]="true"
              (cellValueChanged)="onCellValueChanged($event)"
              [suppressClipboardPaste]="true"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
