<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        गण्डकी प्रदेशको तथ्याङ्क पोर्टल
        <div class="page-title-subheading">
          <!-- प्रदेश सरकारो नीति तथा योजना आयोगद्वारा निर्माणमा ल्याइएको यस प्रणालीमा विभिन्न विकस क्षेत्रहरुको आर्थिक, राजनैनितक, भोगोलिक, र अन्न सुचनाहरु समावेश गरिएको छ । -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 dx-viewport">
    <div class="main-card mb-12 card dx-viewport">
      <div class="card-body">
        <div class="long-title">
          <h3>{{table.pageTitle}}</h3>

        </div>
        <dx-data-grid #stateGrid
          id="gridContainer" 
          [dataSource]="table.data" 
          [columns]= "gen_columns"
          [customizeColumns] = "customizeColumns"
          >
        </dx-data-grid>
          

</div>
