// DEMO
@import "elements/theme-options";

// Icons demo
.colo{
   width: 18%;
      height: 165px;
}
.font-icon-wrapper {
  text-align: center;
  border: $gray-200 solid 1px;
  @include border-radius($border-radius);
  margin: 0 0 10px;
  margin-right: 15px;
  // min-width: 64px;
  border: #2873b9 solid 2px;

    

  &.font-icon-lg {
    float: left;
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    // min-width: 64px;

    i {
      font-size: $h1-font-size;
    }
  }

  &:hover {
    background: $gray-100;
    color: $primary;

   

    span{
    p{
    color: #fff;
    }
    }

     p {
      color: $gray-600;

    }
  }

  i {
    font-size: ($font-size-lg * 1.5);
  }
  span{
  p{
  color: #fff;
    background: #2873b9;
    font-size: 0.80666667rem;
    // width: 158px;
   
    margin-top: 6px;
    padding: 1px;
    height: 55px;
  }

  }

    p {
    // color: $gray-500;
    font-size: ($font-size-sm);
    margin: 5px 0 0;
    padding:10px;
    color:brown;
  }     

 
}

.btn-icon-vertical {
  min-width: 100px;
}

.card.mb-3 {
  margin-bottom: $grid-gutter-width !important;
}

// Image BG

.demo-image-bg {
  height: 350px;
  margin-bottom: $grid-gutter-width;
  background-size: 100%;
}

// Loaders wrapper

.loader-wrapper {
  width: 100%;
  height: 100%;
  
}

.loader img{
  padding:10px;
}

.loader p{
  padding:10px;
  color:brown;
  // padding: 5px;
  // border: 3px solid red;
  // border-radius: 10px;
  // margin: 0px;
  // background: #795123;
  // width: 100%;
}
// Slick slider

.slider-item {
  background: $gray-300;
  @include border-radius($border-radius);
  color: $gray-600;
  font-size: 36px;
  padding: 0;
  position: relative;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin: 0 $layout-spacer-x;
  transition: all .2s;
}

.slick-center {
  .slider-item {
    background: $gray-500;
    color: $gray-700;
  }
}

// Image Crop

.after-img {
  max-width: 100%;
}