<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        गण्डकी प्रदेशको तथ्याङ्क पोर्टल
        <div class="page-title-subheading">
          <!-- प्रदेश सरकारो नीति तथा योजना आयोगद्वारा निर्माणमा ल्याइएको यस प्रणालीमा विभिन्न विकस क्षेत्रहरुको आर्थिक, राजनैनितक, भोगोलिक, र अन्न सुचनाहरु समावेश गरिएको छ । -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 dx-viewport">
    <div class="main-card mb-12 card dx-viewport">
      <div class="card-body">
        <div class="long-title">
          <h3>Country Area, Population, and GDP Structure</h3>
        </div>
        <dx-data-grid id="gridContainer" [dataSource]="countries" [columnAutoWidth]="true" [showBorders]="true"
          [allowColumnReordering]="true" [allowColumnResizing]="true">
          <dxi-column
        dataField="Title"
        caption="Position"
        headerCellTemplate="titleHeaderTemplate">
    </dxi-column>
    <dxi-column
        dataField="Address"
        headerCellTemplate="addressHeaderTemplate">
    </dxi-column>
    <div *dxTemplate="let info of 'titleHeaderTemplate'">
        <p style="font-size:20px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'addressHeaderTemplate'">
        <i style="color: black">Mailing Address</i>
    </div>
          <dxi-column dataField="Country"> </dxi-column>
          <dxi-column dataField="Area" headerCellTemplate="headerTemplate">
          </dxi-column>
          <dxi-column caption="Population of Nepal is a big Asset for anyone seeing this in Nepal">
            <dxi-column caption="Total" dataField="Population_Total" format="fixedPoint">
            </dxi-column>
            <dxi-column caption="Urban" dataField="Population_Urban" format="percent">
            </dxi-column>
          </dxi-column>
          <dxi-column caption="Nominal GDP">
            <dxi-column caption="Total, mln $" dataField="GDP_Total" format="fixedPoint" sortOrder="desc">
            </dxi-column>
            <dxi-column caption="By Sector">
              <dxi-column caption="Agriculture" [width]="95" dataField="GDP_Agriculture">
                <dxo-format type="percent" [precision]="1"> </dxo-format>
              </dxi-column>
              <dxi-column caption="Industry" [width]="80" dataField="GDP_Industry">
                <dxo-format type="percent" [precision]="1"> </dxo-format>
              </dxi-column>
              <dxi-column caption="Services" [width]="85" dataField="GDP_Services">
                <dxo-format type="percent" [precision]="1"> </dxo-format>
              </dxi-column>
            </dxi-column>
          </dxi-column>
          <div *dxTemplate="let data of 'headerTemplate'">
            <div>Area, km<sup>2</sup></div>
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
