<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        गण्डकी प्रदेशको तथ्याङ्क पोर्टल
        <div class="page-title-subheading">
          <!-- प्रदेश सरकारो नीति तथा योजना आयोगद्वारा निर्माणमा ल्याइएको यस प्रणालीमा विभिन्न विकस क्षेत्रहरुको आर्थिक, राजनैनितक, भोगोलिक, र अन्न सुचनाहरु समावेश गरिएको छ । -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5>खण्डहरु</h5>
        <ng-container *ngFor="let menuItem of menuItems">
          <div class="colo font-icon-wrapper  float-left mr-3 mb-3">
            <div class="loader-wrapper d-flex justify-content-center align-items-center">
              <div class="loader"><a href="/#/guest/tables/{{menuItem.id}}">
                <img src="{{menuItem.icon_path}}" alt="" width="80">
                <p><span>{{menuItem.nepali_name}} </span></p>
              </a>
                
              </div>
              
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let item of site_analytics">
    <div class="col-sm-12 col-md-4 col-xl-4" *ngIf="item.display">
      <div class="card mb-3 widget-chart">
        <div class="widget-chart-content">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-{{item.color}}"></div>
            <i class="{{item.icon}} icon-gradient bg-warm-flame"></i>
          </div>
          <div class="widget-numbers">
            <span style="font-family: 'Fontasy Himali'">{{item.value}}</span>
          </div>
          <div class="widget-subheading fsize-1 pt-2 opacity-10 text-{{item.color}} font-weight-bold">{{item.title}}</div>
        </div>
        <div class="widget-chart-wrapper">
        </div>
      </div>
    </div>
  </ng-container>

</div>


<div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="mb-3 card" style="height: 300px;">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            तालिका
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">तालिका सूची</th>
              <th class="text-center">कार्यहरू</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let menuItem of menuItems">
              <ng-container *ngFor="let subMenuItem of menuItem.subForms">

              </ng-container>

              <tr *ngFor="let menuTable of menuItem.tables; index as i">
                <td class="text-center text-muted" style="font-family: 'Fontasy Himali'">{{i+1}}</td>
                <td class="text-center">{{ menuTable.nepali_name }}</td>

                <td class="text-center">
                  <button (click)="navigateToTable(menuTable.id)" type="button" class="btn btn-primary btn-sm">विवरण</button>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6" mx-auto>
      <div class="mb-3 card" style="height: 300px;" >
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            खण्ड सुची
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">खण्डहरु</th>
              <th class="text-center">कार्यहरू</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let menuTable of menuItems; index as i">
              <td class="text-center text-muted" style="font-family: 'Fontasy Himali'">{{ i + 1 }}</td>
              <td class="text-center">{{ menuTable.title }}</td>
              <td class="text-center"><button (click)="navigateToForm( menuTable.id)" type="button" class="btn btn-primary btn-sm"> विवरण</button></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">शैक्षिक कक्षा वितरण</div>
          <div class="btn-actions-pane-right text-capitalize">
            <button class="btn-wide btn-outline-2x btn btn-outline-focus btn-sm">View All</button>
          </div>
        </div>
        <div class="card-body">
          <apx-chart [labels]="['Team A', 'Team B', 'Team C', 'Team D', 'Team E']" [dataLabels]="{
            enabled: false
          }" [colors]="['#16aaff', '#d92550']" [stroke]="{
            show: true,
            width: 1,
            colors: ['#fff']
          }" [grid]="{
            xaxis: {
              showLines: false
            }
          }" [xaxis]=" {
                  categories: ['१-५', '६-८', '९-१०', '११-१२'],
                  title: {
                      text: 'Percent'
                  }
                }" [plotOptions]="{
            bar: {
              horizontal: true,
              barHeight: '80%'
            }
          }" [chart]="{
            height: 300,
            type: 'bar',
            stacked: true,
            sparkline: {
                enabled: true
            }
          }" [series]="[
          {
            name: 'छात्र',
                    data: [162757, 97408, 54058, 35234]
            },
            {
              name: 'छात्रा',
                        data: [168294, 98714, 57435, 41177 ]
            }

          ]"></apx-chart>
        </div>
        <div class="p-0 d-block card-footer">
          <div class="grid-menu grid-menu-2col">
            <div class="no-gutters row">
              <div class="p-2 col-sm-6">
                <button
                  class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="lnr-apartment text-dark opacity-7 btn-icon-wrapper mb-2"> </i>
                  विस्तृत सर्वेक्षण
                </button>
              </div>
              <div class="p-2 col-sm-6">
                <button
                  class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="lnr-database text-dark opacity-7 btn-icon-wrapper mb-2"> </i>
                  दलित विद्यार्थी
                </button>
              </div>
              <div class="p-2 col-sm-6">
                <button
                  class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="lnr-printer text-dark opacity-7 btn-icon-wrapper mb-2"> </i>
                  अन्य
                </button>
              </div>
              <div class="p-2 col-sm-6">
                <button
                  class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="lnr-store text-dark opacity-7 btn-icon-wrapper mb-2"> </i>
                  विद्यालय भर्ना
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
      <div class="mb-3 card">
      <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">क्षेत्रफल</div>
        <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
          <button class="btn btn-focus">View More</button>
        </div>
      </div>
      <div class="p-0 card-body">
        <apx-chart [series]="[3646, 1662, 1572, 1037, 2084, 2321, 3563, 2285, 542, 1836, 1426]" [legend]=false
          [labels]="['गोरखा', 'लमजुङ', 'तनहुँ', 'स्याङजा', 'कास्की', 'मनाङ', 'म्याग्दी', 'पर्वत', 'बाग्लुङ', 'नवलपुर']" [chart]="{
                  width: 450,
                  height: '450',
                  type: 'pie'
                }"></apx-chart>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="main-card mb-3 card" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">About us</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" mx-auto>
      <div class="mb-3 card" style="height: 300px;" >
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            प्रकाशनहरू
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">प्रकाशन सूची</th>
              <th class="text-center">कार्यहरू</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td class="text-center text-muted">1</td>
              <td class="text-center">Data publication policy</td>
              <td class="text-center"><button type="button" class="btn btn-primary btn-sm">विवरण</button></td>
            </tr>
            <tr >
              <td class="text-center text-muted">2</td>
              <td class="text-center">Data request policy</td>
              <td class="text-center"><button type="button" class="btn btn-primary btn-sm">विवरण</button></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
