<h1>{{table.pageTitle}}</h1>
<div class="row">
<div class="col-md-6">
<div class="card main-card mb-3">
    <div class="card-header">
      Bar
    </div>
    <div class="card-body">
      <apx-chart [series]="[
          {
            name: 'series-1',
            data: [30, 40, 45, 50, 49, 60, 70, 91]
          },
          {
            name: 'series-2',
            data: [30, 40, 45, 50, 49, 60, 70, 91, 102]
          }
        ]" [chart]="{
          height: '350',
          type: 'area'
        }" [plotOptions]="{
          bar: {
            horizontal: true
          }
        }" [xaxis]="{
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
        }"></apx-chart>
    </div>
  </div>
  </div>
  <div class="col-md-6">

  <div class="card main-card mb-3">
    <div class="card-header">
      Bar
    </div>
    <div class="card-body">
      <apx-chart [series]="[
          {
            name: 'series-1',
            data: [30, 40, 45, 50, 49, 60, 70, 91]
          },
          {
            name: 'series-2',
            data: [30, 40, 45, 50, 49, 60, 70, 91, 102]
          }
        ]" [chart]="{
          height: '350',
          type: 'area'
        }" [plotOptions]="{
          bar: {
            horizontal: true
          }
        }" [xaxis]="{
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
        }"></apx-chart>
    </div>
  </div>
  </div>
</div>