<div style="margin-top: 20px;" class="row">
  
    <div class="col-md-12">
      <div class="mb-3 card main-card">
        <div class="card-header" style="background-color: #2873b9;">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
            <h2 style="color:white; text-align:center;">{{responseData.nepali_name}}</h2>
        </div>
        <div class="card-body">
          <p *ngIf="has_child==false" style="text-align:center;"> कुनै शीर्षक उपलब्ध छैन </p>
          <ng-container #ElseBlock>
            <div *ngFor="let menuItem of responseData['sub_forms']">
              <div class="font-icon-wrapper float-left mr-3 mb-3">
                <div class="loader-wrapper d-flex justify-content-center align-items-center">
                  <div class="loader"><a (click)="navigateToTableList(menuItem.id)">
                    <img src="{{menuItem.icon_path}}" alt="" width="80"></a>
                    <p><span>{{menuItem.nepali_name}}</span></p>
                  </div>
                </div>
                
              </div>
            </div>
            <ng-container *ngFor="let menuItem of responseData['tables']">
              <div class="font-icon-wrapper float-left mr-3 mb-3">
                <div class="loader-wrapper d-flex justify-content-center align-items-center">
                  
                    <a href="/#/guest/tables/details/{{menuItem.id}}">
                      <img src="{{menuItem.icon_path}}" alt="" width="80" *ngIf="menuItem.icon_path!= null">
                      <img src="{{responseData.icon_path}}" alt="" width="80" *ngIf="menuItem.icon_path == null">
                      <p><span>{{menuItem.nepali_name}}</span></p>
                    </a>
                  
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  

</div>
