@font-face {
  font-family: "Fontasy Himali";
  src: url("./assets/fonts/fontasy.ttf") format("truetype");
}

.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #dfdfff !important;
}

.ag-column-hover {
  background-color: #dfffdf;
}

.ag-pivot-off .ag-header-group-cell {
  color: white;
  font-weight: bold;
  background: #1c77b9;
  text-align: center;
}

.sick-days-warning {
  /* background-color: rgba(120, 175, 141, 0.4) !important; */
}

.align-text-center {
  text-align: center;
  word-break: break-all;
}

@font-face {
  font-family: "himali";
  src: url("./assets/fonts/HIMALI_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-header-group-cell-label{
  justify-content: center;
}

.right-text {
  justify-content: right;
}

.ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
}

.custom-class{
  color: red;
}

.tabulator-group-toggle{
  display: inline-block;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title{
	white-space: normal;
	text-overflow: clip;
}


/* .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  white-space: normal;
} */

.tabulator .tabulator-header .tabulator-col[data-sortable=true] .tabulator-col-title {width: 100%;}
.tabulator-arrow {display: none;}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">> ";
}

.fontasy{
  font-family: "Fontasy Himali";
}